.header {
  background: var(--gray-700);
  height: 12.5rem;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;

  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header div img {
  margin-right: 0.75rem;
}

.header div strong {
  font-size: 2.5rem;
}

.first {
  color: var(--blue);
}

.last {
  color: var(--purple);
}
